@charset "UTF-8";

a {
    color: inherit;
    text-decoration-style: dotted;
    transition: text-decoration ease 0.3s;

    &:is(:active, :focus, :hover) {
        text-decoration-style: solid;
    }
}

code {
    background-color: var(--code-bg-color);
    border-radius: 0.25rem;
    color: var(--code-text-color);
    margin-inline: 0.25rem;
    padding-inline: 0.25rem;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: var(--table-head-bg-color);
    color: var(--table-head-text-color);
}

tbody {
    background-color: var(--table-body-bg-color);
    color: var(--table-body-text-color);
}

td, th {
    border: 2px solid #999;
    padding: 0.5rem 1rem;
}

body {
    display: block flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: var(--text-size);
    min-height: 100svh;
    min-width: 100%;
    overflow-x: hidden;
    word-break: auto-phrase;
    @supports not (word-break: auto-phrase) {
        overflow-wrap: anywhere;
        word-break: keep-all;
    }
}

footer, header {
    flex: 0 1 auto;
}

main {
    flex: 1 0 auto;
}

/* vim: set et sts=4 sw=4 : */
