<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html
    lang="ja"
    prefix="article: https://ogp.me/ns/article# og: https://ogp.me/ns#"
>
    <head>
        {% include metadata.html %}
        {% seo page_locale = "ja_JP" %}
    </head>
    <body>
        {% include header.html %}
        <main>
            <h1>{{ page.title-short }}</h1>
            {% if page.date and page.modified %}
                <div class="page-date-container">
                    <div
                        class="page-created-date"
                        title="作成日"
                    >
                        <span class="material-symbols-outlined">note_add</span>
                        {{ page.date }}
                    </div>
                    <div
                        class="page-modified-date"
                        title="最終更新日"
                    >
                        <span class="material-symbols-outlined">update</span>
                        {{ page.modified }}
                    </div>
                </div>
            {% endif %}
            {{ content }}
        </main>
        {% include footer.html %}
    </body>
</html>
