@charset "UTF-8";

.footer {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: hsl(0deg, 0%, 0%);
    color: hsl(0deg, 0%, 100%);

    .footer-media {
        flex: 0 1 auto;
    }

    .footer-copyright {
        flex: 0 1 auto;
    }
}
